#string

In [2]:
print('hello world')

In [3]:
n=5
for i in range(n):
    print(i)